// FONT

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$mainFont: 'Outfit', sans-serif;

// COLORS

$mainBackground: hsl(217, 54%, 11%);
$cardBackground: hsl(216, 50%, 16%);

$cardLine: hsl(215, 32%, 27%);

$text: hsl(215, 51%, 70%);
$price: hsl(178, 100%, 50%);