@import 'font-colors.scss';

* {
    margin: 0;
    padding: 0;

    font-family: $mainFont;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: $mainBackground;
}

main {
    width: 100vw;
    height: 100%;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(calc(275px + 3rem), 1fr));
    grid-template-rows: min-content;
    column-gap: 3rem;
}

p {
    font-weight: 300;
}

.card-content {
    width: auto;
    height: auto;

    background-color: $cardBackground;
    border: 1px solid green;

    border-radius: 1rem;

    margin: 1.5rem;
    padding: 1.5rem;

    display: grid;

    box-shadow: 0px 0px 35px -9px rgba(black, .4);

    grid-template-columns: 100%;
    grid-template-rows: auto 4rem 3.5rem 1fr 1fr 1fr;

    align-items: center;
    
    &-img {
        aspect-ratio: 1;
        
        width: 100%;
        
        border-radius: .6rem;
    }
    
    &-title {
        // background-color: green;
        
        grid-row: 2;
        
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .6px;
        
        color: white;
    }
    
    &-description {
        width: 100%;
        height: 100%;

        grid-row: 3;
        
        color: $text;

        line-height: 1.5rem;
    }
    
    &-misc {
        width: 100%;
        height: 100%;

        grid-row: 4;
        
        display: flex;
        justify-content: space-between;
        
        .price,
        .expire-date {
            width: 6rem;
            height: 100%;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .price {
            p {
                font-size: 1rem;
                font-weight: 600;
                
                color: $price;
            }
        }
        
        .expire-date {
            p {
                font-size: 1rem;
                
                color: $text;
            }
        }
        
    }

    hr {
        border: 0;
        border-top: solid rgba($text, .2) .1px;
    }
    
    .creator {
        width: 100%;
        height: 100%;

        grid-row: 6;
        
        display: flex;
        align-items: center;
        
        &-avatar {
            margin-right: 1rem;

            width: 2rem;
        }

        p {
            font-size: 1rem;

            color: $text;

            span { color: white; }
        }
    }
}